<div class="jumbotron">
  <h1>とらっしゅずかん</h1>
  <h2>～世界の恐竜たち～</h2>
  <a class="btn btn-default" href="">とらっしゅってなーに</a>
</div>

<div class="container">
  <div class="row">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle col-sm-8" data-toggle="dropdown" aria-expanded="true">
        {{ main.groupDropDown.groupName }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat='group in main.groupList'>
          <a ng-click="main.clickGroup(group.groupId)" class="btn btn-default" href="">{{ group.groupName }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="input-group col-sm-12">
      <!-- Single button -->
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
          {{ main.searchType.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="" ng-click="main.clickDropdown(1)">名前</a></li>
          <li><a href="" ng-click="main.clickDropdown(2)">タグ</a></li>
        </ul>
      </div>
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">検索</button>
      </span>
    </div>
  </div>
</div>
